{% extends 'base/based.html'%}
{% block title %} {{ title }}  {% endblock%}

{% block content %}

    <head>
        <title>
            Nos disculpamos por las molestias
        </title>
    </head>

    <body>
        <h3>Pagina no encontrada</h3>
    </body>

    <div id="success"></div>
    <div class="row">
        <div class="form-group col-xs-12">
            <a href="index1" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Retornar al Principal</a>
        </div>
    </div>

</div>

    {% endblock %}
