{% extends 'base/based.html'%}
{% block title %} {{ title }}  {% endblock%}

{% block content %}

{% from "_macro.html" import render_field %}

<body>
    <h4>Bienvenido a Comentatios</h4>
    

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-offset-1">

            <br>
            <br>

            <form name="sentMessage" id="commentForm" method="POST">
               
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
               
                <div class="row control-group">
                    <div class="form-group col-xs-24 floating-label-form-group comtrols">

                        {{ render_field(form.comment, class='form-control')}}
                    
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                

                {{ form.honeypot }}

                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-primary btn-sm">Send</button>
                        <a href="logout" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Cerrar Sesion</a>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>

</body>
{% endblock%}

