{% extends 'base/based.html'%}
{% block title %} {{ title }}  {% endblock%}

{% block content %}

    <h4>Bienvenido a la Administracion de Usuarios Equipo Rojo</h4>

       <table class="table table-striped table-bordered bg-white table-sm">
            <thead><tr><th>UserName</th><th>Apellido</th><th>Equipo</th></tr></thead>
            <tbody>
                    {% for redteam in redteams %}
                    <tr>
                         <td>{{ redteam.username }}</td>
                         <td>{{ redteam.apellido }}</td>
                         <td>{{ redteam.nombre }}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    
        <br>
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-xs-12">
                <a href="index1" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Retornar al Principal</a>
            </div>
        </div>

</div>




{% endblock %}


